.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50;
    transition: background-color var(--transition-normal);
}

.main {
    min-height: calc(100vh - 80px);
    /* rough header+footer */
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: var(--color-background);
    color: var(--color-primary);
    padding: var(--spacing-16) 0;
    border-top: 1px solid var(--color-divider);
}